body{
    text-align: center;
    background-color: #fff9e1;
}




/*
**********************************
HERO
**********************************
*/
.hero {
    background-image: url(../assets/assets/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    position: absolut
}






/*
**********************************
ABOUT
**********************************
*/
.about {
    
}






/*
**********************************
WHAT WE DO
**********************************
*/
.what {
    
}






/*
**********************************
PORFOLIO
**********************************
*/
.portfolio {
    
}






/*
**********************************
CONTACT
**********************************
*/
.contact {
    
}






/*
**********************************
FOOTER
***********************************/
.footer {
    
}







.wrap {
    width: 90%;
    max-width: 960px
    margin: 0 auto;
}
