body{
    text-align: center;
    background-color: #fff9e1;
    font-family: 'Raleway', sans-serif;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}




/*
**********************************
HERO
**********************************
*/
.hero {
    background-image: url(../assets/assets/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
}






/*
**********************************
ABOUT
**********************************
*/
.about {
    
}





/*
**********************************
SERVICES
**********************************
*/
.services {
    background-image: url(../assets/assets/s_image.jpg);
    background-size: cover;
    position: relative;
    padding: 10% 5%;
    color: whitesmoke;
    
}







/*
**********************************
WHAT WE DO
**********************************
*/
.what {
    
}






/*
**********************************
PORFOLIO
**********************************
*/
.portfolio {
    
}






/*
**********************************
CONTACT
**********************************
*/
.contact {
    
}






/*
**********************************
FOOTER
***********************************/
.footer {
    
}







.wrap {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

